*, html {outline:none !important}
body {background:#000;margin:0;padding:0;color:#fff}
.clear {clear:both}
.container {width:1024px;margin:40px auto;overflow:hidden;position:relative}
#gjs-loader {color:#fff}
#gjs-canvas {z-index:90;position:relative;cursor:url('../images/aim_cursor.cur'), auto}

.gjs-popup {position:absolute;left:50%;top:200px;margin-left:-200px;width:400px;height:300px;color:#fff;font-family:Tahoma, Arial;font-size:15px;z-index:100;padding:30px;border:5px solid #0A1B2A;border-radius:2px}
.gjs-popup .gjs-bg {position:absolute;top:0;left:0;width:100%;height:100%;background:#0A1B2A;opacity:0.8;z-index:-1}

	.gjs-pause {width:200px;margin-left:-250px;height:30px;top:250px;text-align:center;font-size:20px;font-weight:bold;padding:25px 31px 25px 25px;opacity:0}
	
	.gjs-right-window {right:-320px;width:300px;height:630px;padding:0;top:0;margin:0;left:auto}
	
	.button {display:block;margin:10px;padding:5px 10px;border-radius:4px;border:1px solid #a3a3a3;color:#fafafa;font-size:15px;font-weight:bold;text-align:center;vertical-align:middle;transition-duration:.2s;text-decoration:none}
	.button:hover {background:#f3f3f3;color:#0A1B2A;transition-duration:.0s}
	
	.button.icon {padding:7px;display:inline-block}
	
[class^="icon-"], [class*=" icon-"] {width:64px;height:64px;display:block}
.icon-rocket {background:url(../images/menu/rocket.png) no-repeat}



/*** windows **/
.gjs-window {position:absolute;left:50%;top:40%;margin-left:-200px;margin-top:-150px;width:400px;height:300px;color:#fff;font-family:Tahoma, Arial;font-size:15px;z-index:100;padding:30px;border:5px solid #0A1B2A;border-radius:2px}
.gjs-window .gjs-bg {position:absolute;top:0;left:0;width:100%;height:100%;background:#0A1B2A;opacity:0.8;z-index:-1}
	.gjs-window hr {border:none;background:#a3a3a3;height:1px}
	.gjs-window h2 {margin-top:0}
	
	.gjs-button {display:inline-block;float:left;margin:10px 3px 0;padding:4px 10px;border-radius:4px;border:1px solid #a3a3a3;color:#fafafa;font-size:14px;font-weight:200;text-align:center;vertical-align:middle;transition-duration:.2s;text-decoration:none}
	.gjs-button:hover {background:#f3f3f3;color:#0A1B2A}
	
/*** generator **/
a {color:#efefef;text-decoration:none;padding:2px 10px;border:1px solid #a3a3a3;background:#0A1B2A;border-radius:3px;font-size:12px;font-family:Verdana;margin-bottom:10px;display:inline-block}
a:hover {color:#dadada;text-decoration:none;background:#1B2C3B}

    label {color:#efefef;width:250px;text-align:right;margin-right:10px;display:inline-block;vertical-align:top}
    input, textarea {border:1px solid #cacaca;background:#1B2C3B;margin-bottom:10px;color:#fefefe}
    textarea {width:400px;height:100px}
    textarea[disabled] {background:#404040}



.list-left {width:240px;border:1px solid #f3f3f3;border-radius:2px;padding:3px;float:left}
.list-right {width:240px;border:1px solid #f3f3f3;border-radius:2px;padding:3px;height:300px;overflow-y:scroll;float:left;margin-left:10px}

.item-list {margin:0;padding:0}
.item-list li {list-style:none;margin:0;padding:0}
.item-list li a {margin:0;padding:4px 6px;border:none;background:none;width:100%;display:block;transition-duration:.12s;width:auto}
.item-list li a:hover {background:#f3f3f3;color:#0A1B2A;transition-duration:.0s}
.item-list li a.active {background:#1B2C3B}
.item-list li a.active:hover {color:#a8a8a8}
.disabled {display:none}


/*** generator v2 **/
#mapContent {width:100%;height:550px;overflow:scroll;position:relative;background:#333;margin-bottom:10px}
#mapContent .frame {display:block;position:absolute;top:0;left:0;margin:0;padding:0;border-right:1px solid red;border-bottom:1px solid red;width:31px;height:31px;background:none;border-radius:0}
#mapContent .frame:hover {background:#0A1B2A;opacity:0.3}

#mapOptions {position:relative;padding:5px;background:#0f0f0f}
#mapOptions a {float:left;width:32px;height:32px;opacity:0.6;padding:0;margin:0;border-radius:0;border:none}
#mapOptions p {float:left;margin-top:10px;margin-left:10px}

    #mapOptions a.selected {outline:2px dashed #fff !important}

    a.empty {background:none}
    a.block {background:yellow !important;opacity:0.5}
    a.wall {background:#404040 !important;opacity:0.8}
    a.player-respawn {background:greenyellow !important;opacity:0.6}
    a.enemy {background:red !important;opacity:0.6}

/*** volume slider **/

.range-slider {height:8px;background:#4f4f4f;border:1px solid #fff;border-radius:2px;margin:10px;padding:0}
.range-slider div {margin-right:36px}
.ui-slider .ui-slider-handle {cursor:pointer;margin:0;top:-6px}
.func-desc {margin-left:10px}
.func-desc:after {content:"";display:block;clear:both}

.loader {position:relative}
/*.loader:after {position:absolute;top:0;width:100%;left:0;height:100%;background:url('../images/loader.png') no-repeat center center #777;opacity:0.9;z-index:100;content:" ";display:block}*/
.loader:after {position:absolute;top:0;width:100%;left:0;height:100%;background:url('../images/loader.gif') no-repeat center center #555;opacity:0.9;z-index:100;content:" ";display:block}




