<div id="gjsMenu" class="gjs-popup gjs-right-window">
	<a class="button main-menu-button" href="javascript:;" id="gjsMainRestart">New game</a>
	<a class="button main-menu-button" href="javascript:;" id="gjsMainShop">Shop</a>
	<a class="button main-menu-button" href="javascript:;" id="gjsMainSelectlevel">Select level</a>
	<a class="button main-menu-button" href="javascript:;" id="gjsMainAccount">My account</a>
	<a class="button main-menu-button" href="javascript:;" id="gjsMainStats">Current statistics</a>
	<a class="button icon" href="javascript:;"><span class="icon-rocket"></span></a>
	
	<p class="func-desc">Master volume</p>
	<div class="range-slider">
		<div id="changeVolumeSlider"></div>
	</div>
	<span class="gjs-bg"></span>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#changeVolumeSlider').slider({
			value: sound_volume * 100,
			slide: function(event, ui){
				sound_volume = ui.value / 100;
			}
		});
	});
</script>