<div class="list-left">
    <ul class="item-list">
        <li><a href="javascript:;" data-type="ammo" class="active">Ammo</a></li>
        <li><a href="javascript:;" data-type="weapons">Weapons</a></li>
        <li><a href="javascript:;" data-type="extra">Extra</a></li>
    </ul>
</div>
<div class="list-right" id="itemList">
	<ul class="ammo item-list"></ul>
    <ul class="weapons item-list disabled"></ul>
    <ul class="extra item-list disabled"></ul>
</div>
<div class="info-block">
	<div class="func-desc">Money: <span id="playerMoney"></span></div>
</div>
<div class="clear"></div>