<table style="margin:10px 20px">
	<tbody>
		<tr>
			<td>Your name:</td>
			<td>{%name%}</td>
		</tr>
		<tr>
			<td>Tank model:</td>
			<td>{%model%}</td>
		</tr>
		<tr>
			<td>Frags:</td>
			<td>{%kill%}</td>
		</tr>
		<tr>
			<td>KIA:</td>
			<td>{%kia%}</td>
		</tr>
		<tr>
			<td>Shots:</td>
			<td>{%shots%}</td>
		</tr>
		<tr>
			<td>Enemy hits:</td>
			<td>{%aimed%}</td>
		</tr>
		<tr>
			<td>Current money / earned:</td>
			<td><strong>{%money%}</strong>/{%earned_money%}</td>
		</tr>
		
		<tr><td colspan="2"><hr /></td></tr>
		
		<tr>
			<td><strong>Your level:</strong></td>
			<td><strong>{%level%}</strong></td>
		</tr>
		<tr>
			<td><strong>Accuracy:</strong></td>
			<td><strong>{%ratio%}</strong></td>
		</tr>
	</tbody>
</table>